[Desktop Entry]
Version=1.0
Name=Visual Studio Code
Comment=Integrated Development Environment
Exec=code %F
Icon=/usr/share/pixmaps/vscode.png
Type=Application
Categories=Development;IDE;
Terminal=false
