{
  "breadcrumbs.enabled": false,
  "diffEditor.ignoreTrimWhitespace": false,
  "diffEditor.renderSideBySide": false,
  "editor.cursorBlinking": "phase",
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.emptySelectionClipboard": false,
  "editor.fontFamily": "Cascadia Code NF",
  "editor.fontLigatures": "'ss01', 'ss02', 'ss03', 'ss19', 'ss20'",
  "editor.formatOnSave": true,
  "editor.guides.indentation": false,
  "editor.inlineSuggest.enabled": true,
  "editor.lightbulb.enabled": "off",
  "editor.multiCursorModifier": "ctrlCmd",
  "editor.smoothScrolling": true,
  "editor.snippetSuggestions": "top",
  "editor.stickyScroll.enabled": false,
  "editor.tabCompletion": "onlySnippets",
  "editor.tabSize": 2,
  "editor.wordWrapColumn": 120,
  "explorer.autoReveal": false,
  "explorer.incrementalNaming": "smart",
  "extensions.autoUpdate": false,
  "extensions.closeExtensionDetailsOnViewChange": true,
  "extensions.ignoreRecommendations": true,
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "material-icon-theme.activeIconPack": "react",
  "material-icon-theme.folders.color": "#616e88",
  "material-icon-theme.folders.theme": "classic",
  "material-icon-theme.hidesExplorerArrows": true,
  "material-icon-theme.saturation": 0.6,
  "problems.autoReveal": false,
  "python.terminal.activateEnvInCurrentTerminal": true,
  "search.collapseResults": "alwaysCollapse",
  "search.useGlobalIgnoreFiles": true,
  "telemetry.telemetryLevel": "off",
  "terminal.explorerKind": "external",
  "terminal.integrated.cursorStyle": "line",
  "terminal.integrated.defaultProfile.windows": "Ubuntu-24.04 (WSL)",
  "update.enableWindowsBackgroundUpdates": false,
  "update.mode": "none",
  "window.autoDetectColorScheme": true,
  "window.enableMenuBarMnemonics": false,
  "window.zoomLevel": 1,
  "workbench.colorTheme": "Nord",
  "workbench.commandPalette.preserveInput": true,
  "workbench.editor.enablePreview": false,
  "workbench.editor.focusRecentEditorAfterClose": false,
  "workbench.enableExperiments": false,
  "workbench.iconTheme": "material-icon-theme",
  "workbench.preferredDarkColorTheme": "Nord",
  "workbench.quickOpen.preserveInput": true,
  "workbench.settings.enableNaturalLanguageSearch": false,
  "workbench.startupEditor": "newUntitledFile",
  "workbench.tree.renderIndentGuides": "none",
  "update.showReleaseNotes": false,
  "workbench.preferredLightColorTheme": "Nord",
  "editor.guides.bracketPairs": "active",
  "chat.commandCenter.enabled": false,
  "workbench.activityBar.location": "top",
  "security.workspace.trust.untrustedFiles": "open",
  "git.enableSmartCommit": true,
  "git.confirmSync": false,
  "git.autofetch": true,
  "terminal.integrated.fontFamily": "monospace",
  "explorer.confirmDragAndDrop": false,
  "explorer.confirmDelete": false
}
