[Desktop Entry]
Version=1.0
Type=Application
Name=ZSH Terminal
Comment=Open Terminal with ZSH
Exec=gnome-terminal -- zsh
Icon=utilities-terminal
Path=/home/{{ ansible_user }}
Terminal=false
StartupNotify=true
Categories=System;TerminalEmulator;
